@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gray-liner {
    background: linear-gradient(90deg, #ababab 0%, #2d2d2d 102.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .user-block-text {
    background: linear-gradient(90deg, #2d2d2d 0%, #ababab 102.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-red-gray-linear {
    background: #eb3a4a;
    background: radial-gradient(
      circle farthest-corner at center center,
      #eb3a4a 0%,
      #2a2a2a 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero-pill-bg {
    background: linear-gradient(93deg, #868686 -1.74%, rgba(0, 0, 0, 0) 78.61%),
      rgba(52, 52, 52, 0.5);
  }
}
